@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --background-color: hsl(218, 23%, 16%);
    --bottom-and-text-color: hsl(150, 100%, 66%);
    --card-color: hsl(217, 19%, 24%);
    --text-color: hsl(193, 38%, 86%);
}

body{
    background-color: var(--background-color);
    font-family: 'Manrope';
    font-weight: 800;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    justify-content: flex-start;
    justify-items: center;
    height: 200px;
    width: 500px;
    margin: 30px;
    border-radius: 5%;
    position: relative;
}

.advice-number{
    color: var(--bottom-and-text-color);
    font-size: 12px;
    align-self: center;
    padding: 20px ;
    letter-spacing: 2px;
    
}

.advice{
    color: var(--text-color);
    text-align: center;
    justify-content: space-around;
    padding: 10px ;
}

picture{
    text-align: center;
    
}

.card .advice-update{
    width: 60px;
    height: 60px;
    background-color: var(--bottom-and-text-color);
    bottom: -12%;
    border: none;
    border-radius: 50%;
    align-self: center;
    position: absolute; 
}

.card .advice-update:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px var(--bottom-and-text-color);
}